.background {
/*background-position: center center !important;*/
/*background-size: cover !important;*/
/*background-repeat: no-repeat !important;
background-attachment: fixed !important;*/
filter: blur(1em);
width: 100vw;
height: 100vh;
position: fixed;
z-index: -2;
left: 0vw;
top: 0vh;
transition: background ease 2s;
overflow: hidden;
background: blue cover no-repeat fixed;
}