.volumeSlider {
  -webkit-appearance: none;
  width: 40%;
  height: 0.35rem;
  border-radius: 5px;
  background: #aaaaaa;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-right: 1rem;
}

.volumeSlider::-webkit-slider-thumb:hover {
  width: .8em;
  height: .8em;
  opacity: 1;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: width .2s, height .2s;
}

.volumeContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.volumeButton {
  border: none;
  background: transparent;
  color: white;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.volumeButton:hover {
  opacity: 0.8;
}

.volumeButton::-moz-range-progress {
  background-color: #CCCCCC;
  border-radius: 5px;
  height: 100%;
}
.volumeButton::-moz-range-track {  
  background-color: #555555; 
  border-radius: 5px;
  height: 100%;
}