body {
  height: 100%;
  width: 100%;
  margin: 0;
  flex-direction: column;

  /*font-family: Monaco, 'Product Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    */
  font-family: Montserrat, Monaco, spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: white;
    font-weight: 1500;
}

html, body { margin: 0; height: 100%; width: 100%; overflow: hidden; background-color: #fff0 !important }

.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}